{% assign meta_title = page.title | replace: '"', "'" %}
{% assign page_url = page.url | replace:'/index.html', '' %}

{% if page.layout == 'post' %}
  {% if page.summary %}
    {% assign summary = page.summary | replace: '"', "'" %}
  {% else %}
    {% assign summary = page.content | truncatewords: 50 %}
  {% endif %}
{% elsif page.description %}
  {% assign summary = page.description %}
{% else %}
  {% assign summary = site.meta.description %}
{% endif %}

{% assign description = summary | markdownify | strip_html | strip_newlines | replace: '"', "'"  %}

<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
  <title>{{ page.title | escape }} | {{ site.meta.title }}</title>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <meta name="robots" content="index,follow"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <meta name="HandheldFriendly" content="True"/>
  <meta name="MobileOptimized" content="320"/>

  <meta name="author" content="{{ site.meta.author.name }}"/>
  <meta name="description" content="{{ description }}"/>

  {% if page.layout == 'post' %}
    <meta property="og:type" content="article"/>
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
    <meta property="article:author" content="{{ site.meta.author.about }}"/>
    {% if page.tags %}
      {% for tag in page.tags %}
        <meta property="article:tag" content="{{ tag }}"/>
      {% endfor %}
    {% endif %}
    {% if page.thumbnail %}
      <meta itemprop="image" content="{{ site.url }}/assets/images{{page.id}}/{{ page.thumbnail }}"/>
      <meta property="og:image" content="{{ site.url }}/assets/images{{page.id}}/{{ page.thumbnail }}"/>
      <meta name="twitter:image:src" content="{{ site.url }}/assets/images{{page.id}}/{{ page.thumbnail }}"/>
    {% else %}
      <meta itemprop="image" content="{{ site.url }}/assets/images/logo.png"/>
      <meta property="og:image" content="{{ site.url }}/assets/images/logo.png"/>
      <meta name="twitter:image:src" content="{{ site.url }}/assets/images/logo.png"/>
    {% endif %}
  {% else %}
    {% if page.thumbnail %}
      <meta itemprop="image" content="{{ site.url }}/{{ page.thumbnail }}"/>
      <meta property="og:image" content="{{ site.url }}/{{ page.thumbnail }}"/>
      <meta name="twitter:image:src" content="{{ site.url }}/{{ page.thumbnail }}"/>
    {% else %}
      <meta itemprop="image" content="{{ site.url }}/assets/images/logo.jpg"/>
      <meta property="og:image" content="{{ site.url }}/assets/images/logo.jpg"/>
      <meta name="twitter:image:src" content="{{ site.url }}/assets/images/logo.jpg"/>
    {% endif %}
  {% endif %}

  <meta itemprop="name" content="{{ meta_title }}"/>
  <meta itemprop="description" content="{{ description }}">

  <meta property="og:site_name" content="{{ site.meta.title }}"/>
  <meta property="og:title" content="{{ meta_title }}"/>
  <meta property="og:description" content="{{ description }}"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:url" content="{{ site.url }}{{ page_url }}"/>
  <meta property="fb:admins" content="227304446"/>

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@{{ site.meta.social.twitter }}"/>
  <meta name="twitter:title" content="{{ meta_title }}"/>
  <meta name="twitter:description" content="{{ description }}"/>
  <meta name="twitter:creator" content="@{{ site.data.meta.author.twitter }}"/>
  <meta name="twitter:url" content="{{ site.url }}{{ page_url }} "/>
  <meta name="twitter:domain" content="{{ site.meta.domain }}"/>

  <meta name="google-site-verification" content="0KoQy3aYyaYLvvA8sZ1BBj8MRnfR7H2PEnGIPyglVhU"/>
  <meta name="msvalidate.01" content="1531230360BB8F364EDBA26FCF41604D"/>

  <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico"/>

  <link rel="canonical" href="{{ site.url }}{{ page_url }}/"/>
  <link rel="author" href="{{ site.meta.author.about }}"/>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" media="all"/>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" media="all"/>

  <link rel="stylesheet" type="text/css" href="/assets/css/main.css" media="all"/>
  <link rel="alternate" type="application/rss+xml" title="Blog Feed" href="{{ site.url }}/feed.xml"/>

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
